<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.store.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap" rel="stylesheet">
    <title>Our Team</title>
</head>

<body>
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: green;">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="pull-right">
                <a style="color:white; font-size: 30px;" href="/">Snap Buy</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color:white;" class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a style="color:white;" class="nav-link" href="/products">Products</a>
                    </li>

                    <li class="nav-item">
                        <a style="color:white;" class="nav-link" href="/cart">Cart</a>
                    </li>

                    <li class="nav-item">
                        <a style="color:white;" class="nav-link" href="/team">Our Team</a>
                    </li>

                    <li class="nav-item">
                        <a style="color:white;" id="profile_button" class="nav-link" href="/profile" hidden>Profile</a>
                    </li>

                    <li class="nav-item">
                        <a style="color:white;" id="login_button" class="nav-link" href="/login">Login/Signup</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- <center>
        <h3 style="color: gray; font-style: italic;">We are sorry,<br>this page is not updated</h3>
    </center> -->
    <center>
        <h1>Project Team Members</h1>
    </center>

    <div class="row container-1">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="dev-name">Salman Khan</h2>
                    <p class="title">Team Leader</p>
                    <p class="clg-name">Computer Engineer<br>Vishwakarma University</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="dev-name">Saloni Mane</h2>
                    <p class="title">Backend Devloper</p>
                    <p class="clg-name">Computer Engineer<br>Vishwakarma University</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="dev-name">Janhavi Naik</h2>
                    <p class="title">Frontend Devloper</p>
                    <p class="clg-name">Computer Engineer<br>Vishwakarma University</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-2">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="dev-name">Aalok Kesarkar</h2>
                    <p class="title">Backend Devloper</p>
                    <p class="clg-name">Computer Engineer<br>Vishwakarma University</p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="dev-name">Mahima Gautam</h2>
                    <p class="title">Frontend Devloper</p>
                    <p class="clg-name">Computer Engineer<br>Vishwakarma University</p>
                </div>
            </div>
        </div>
    </div>
    <center style="color: gray; font-size: 20px;"><u>Find source code on</u> <a
            href="https://github.com/Aalok-Kesarkar/2fa-with-qr" style="font-style: normal;">GitHub!</a></center>
</body>
<script>
    if (window.localStorage.getItem('token')) {
        document.getElementById('login_button').hidden = true
        document.getElementById('profile_button').hidden = false
    }
</script>
<style>
    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        padding: 10px 10px;
    }

    .dev-name {
        font-family: 'Radio Canada', sans-serif;
    }

    .clg-name {
        font-family: 'Radio Canada', sans-serif;
        color: rgb(97, 97, 97);
        font-style: italic;
        font-size: 18px;
    }

    .container-1 {
        margin-top: 10px;
        margin-left: 370px;
        margin-right: 250px;
    }

    .container-2 {
        margin-left: 420px;
        margin-right: 300px;
        padding-left: 120px;
        /* padding-left: 100px; */
    }

    @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .card {
        box-shadow: 0 5px 10px 0 rgba(0, 108, 128, 0.2);
        margin: 25px 25px 25px 25px;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        /* background-color: rgb(127, 255, 148); */
        background-image: linear-gradient(to bottom right, rgb(252, 240, 131), rgb(136, 252, 175));
    }

    .container {
        padding: 70px 16px;
        margin: 25px 25px;
    }

    .container::after,
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .title {
        color: grey;
        font-size: 17px;
    }
</style>

</html>